body{
    background-image: url(../Images/Fondo.JPG);
        background-size: cover;


}
.collapsible-body{
    color: blue;
}
h1{
   text-align: center;
}
table, th, td {
    border: 1px solid black;
}