<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../css/martesArciales.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>

        <title>Martes Arciales</title>

    </head>
    <body>
    
                
    
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../template/MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../template/GrandesArtistasMarciales.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Bienvenido a la mejor página de Artes Marciales</h1>
      <div class="row center">
        <h5 class="header col s12 light">Elija una de las siguientes opciones para continuar:</h5>
      </div>
      <br><br>

    </div>
  </div>

<center>
<table>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="BotonAsia">
            <h2 class="center light-blue-text"><i class="material-icons">brightness_1</i></h2>
            
              <h5 class="center">Asia</h5>
              <ol>
            <li><a href="../template/asia/China.html" class="light" style="text-align: center"><span class="flag-icon flag-icon-cn"></span>China</a></li>
            <li><a href="../template/asia/Corea.html" class="light" style="text-align: center"><span class="flag-icon flag-icon-kr"></span>Corea</a></li>
            <li><a href="../template/asia/Tailandia.html" class="light" style="text-align: center"><span class="flag-icon flag-icon-tw"></span>Tailandia(Muay-Thai)</a></li>
            <li><a href="../template/asia/Japon.html" class="light" style="text-align: center"><span class="flag-icon flag-icon-jp"></span>Japon</a></li>
              </ol>
          </div>
        </div>
         
          
          <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">brightness_1</i></h2>
            <h5 class="center">Africa</h5>
              <ol>
                  <li><a href="../template/Africa/Madagascar.html" class="light" style="text-align: center"><span class="flag-icon flag-icon-mg"></span>Madagascar(Lucha Sakavala)</a></li>
                  <li><a href="../template/Africa/Senegal.html"  class="light" style="text-align: center"><span class="flag-icon flag-icon-sn"></span>Senegal</a></li>
              </ol>
        </div>
        </div>
          
          
              <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">brightness_1</i></h2>
            <h5 class="center">America</h5>
              <ol>
            <li><a href="../template/America/Norteamerica.html"  class="light" style="text-align: center">America</a></li>
              </ol>
            </div>
        </div>
        
                </div>

        
        
          <div class="row">
          <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">brightness_1</i></h2>
            <h5 class="center">Europa</h5>
              <ol>
                <li><a href="../template/Europa/Francia.html"  class="light" style="text-align: center"><span class="flag-icon flag-icon-fr"></span>Francia</a></li> 
                <li><a href="../template/Europa/Greica.html"  class="light" style="text-align: center"><span class="flag-icon flag-icon-gr"></span>Grecia</a></li>
                <li><a href="../template/Europa/Reino%20Unido.html"  class="light" style="text-align: center"><span class="flag-icon flag-icon-gb"></span>Reino Unido</a></li>  
                  
              </ol>   
          </div>
        </div>
         

        
          
          <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">brightness_1</i></h2>
            <h5 class="center">Oceania</h5>
            <ol>
                <li><a href="../template/Oceania/Samoa.html"  class="light" style="text-align: center"><span class="flag-icon flag-icon-ws"></span>Samoa</a></li>
                <li><a href="../template/Oceania/Hawaii.html"  class="light" style="text-align: center"><span class="flag-icon flag-icon-gu"></span>Hawaii</a></li>
            </ol>
            </div>
            </div>
              
         
      </div>

    </div>
    <br><br>
  </div>
    </table>
        </center>
    

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Somos un grupo de diseñadores y programadores que buscamos una mejora cada dia, nuestro principal objetivo es el cliente y su satisfaccion.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Numeros Telefonicos</h5>
          <ul>
            <li><a class="white-text" href="#!">3512044038(Presidente)</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contactanos</h5>
          <ul>
            <li><a class="white-text" href="https://accounts.google.com/signin/v2/sl/pwd?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Ezeurqueta7@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="">Ezequiel Urqueta company</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="js/init.js"></script>

        
        
        
        
        
        
        

    </body>
c
</html>