<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Madagascar.css">
        <title>Lucha Sakavala</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                    <li><a href="cinturones.html">Cinturones</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Lucha Sakavala</h1>
    <h2>Tradicion</h2>
      Se trata de una lucha entre miembros de aldeas vecinas. Después de acabada la cosecha, en los meses de junio y julio, los jóvenes de diferentes pueblos se juntan los fines de semana para practicar este tipo de deporte. En realidad, el moraingy tiene más un carácter festivo que de verdadera competición.
        <h2>Tecnicas</h2>
            <h4>Posturas</h4>
    <table style="width:100%">
  <tr>
           <th><iframe width="470" height="410"
src="../../Images/moraingy1.gif">
</iframe></th>     
 <th>Como se ve en la imagen superior, al postura debe ser con las piernas separadas con la habil posicionada adelante y la inhabl atras con una separacion dependiendo de la persona, los brazos, a la altura del pecho con las palmas abiertas.</th>
        </tr>
</table>
        <h4>Combate</h4>
            <table style="width:100%">
            <tr>
                <th><iframe width="250" height="250" img src="../../Images/images.jpg">
                    </iframe></th>     
 <th>Antes del combate, hay un periodo de observación en el que los hombres dan vueltas alrededor del círculo formado en el centro de la plaza mientras se baten los tambores con un ritmo rápido y violento. El primer combate comienza cuando un miembro de un grupo llama a uno de sus adversarios. Si éste acepta el combate, entran los dos en el círculo, vestidos con un solo lamba (paño) y comienza la lucha. Si la persona rehúsa el combate, otro miembro de su grupo está obligado a aceptarlo. Un árbitro es el responsable de parar la lucha si ésta comienza a ser excesivamente violenta. Sin embargo, uno de los contrincantes suele ser considerado como el vencedor, recibiendo la admiración de las jóvenes solteras presentes, en tanto que el vencido se prepara para una próxima revancha.</th>
        </tr>
</table>         
           
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>