<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Kung-Fu.css">
        <title>Bajiquan</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Bajiquan</h1>
    <h2>Valores</h2>
       <table style="width:100%">
  <tr>
    <th>Disciplínate a las Reglas</th>
    <th>Practica cortesía y rectitud</th> 
    <th>Ama a tus compañeros</th>
        <th>Controle su deseo</th>
        <th> Trabaja duro y sigue practicando</th>
        <th>Aprende cómo mantener la energía</th>
        <th>Siempre enfréntate a las cuestiones mundiales con una actitud amable que sea tranquila y apacible.</th>
        <th> Ayuda a los débiles y a los muy jóvenes</th>
        <th> Transmitir la tradición</th>

  </tr>
  <tr>
        <td>Mantén Sagrada la Moralidad Marcial</td>
        <td>Sirve a la comunidad y honra a tu familia</td> 
        <td>Se unido y evita conflictos</td>
        <td>Manténgase saludable</td>
        <td>Nunca dejes que la habilidad abandone tu cuerpo</td>
        <td>Deja de incitar una actitud de lucha.</td>
        <td>-</td>
        <td>Usa tu habilidad marcial para el bien de la humanidad</td>
        <td>Preservar las artes chinas y sus Reglas de conducta</td>
  </tr>
</table>          
        <h2>Tecnicas</h2>
            <h4>Posturas</h4>
    
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=_Wni4idxYVI">
</iframe>     
        
        <h4>Nombres</h4>
  <table style="width:100%">
  <tr>
    <th>Golpe</th>
    <th>Posicion en la que se ponen los brazos como "abrazando" a alguien</th> 
    <th>Patada</th>
      <th>Movimiento Individual</th>
       <th>Usar la cadera</th>
       <th>Rotacion de Muñeca, Codo u Hombro</th>
  </tr>
  <tr>
    <td>Ding 頂</td>
    <td>Bao 抱</td> 
    <td>Ti 提</td>
    <td>Dan 單</td>
    <td>Kua 胯 </td>
     <th>Chan 纏l</th> 
  </tr>
</table>          
               <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=UA9a977HzFg">
</iframe>       

        
            
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>