<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Full-Contat.css">
        <title>Full-Contact</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../America/Norteamerica.html">Atras</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Full-Contact</h1>
    <h2>Concepto General</h2>
       
      Consiste esencialmente en derrotar en un ring a un adversario a base de puñetazos y patadas.Los golpes permitidos son a pleno contacto, siendo estos todos los puñetazos y patadas que impacten de la cintura para arriba y los barridos, también el puñetazo con volteo del cuerpo, o en giro, y las patadas descendentes, laterales, de frente, y en giro. Además del uso de barridos en giro ejecutados con el talón. Varias federaciones adoptaron un número mínimo de 8 patadas altas por round, para evitar que el combate de full contact se convirtiera en uno de boxeo, al cerrarse la distancia y debido a la fatiga de los competidores.        

            <h2>Puntuacion</h2>

        <table>
    
  <tr>
      
        <td>3 Puntos</td>
        <td>2 Puntos</td> 
        <td>1 Punto</td>
  </tr>
              <tr>
      
        <td>Patada en la cara en salto/Barrido que derriba</td>
        <td>Patada en la cara desde el suelo/Barrido que desequilibra con técnica</td> 
        <td>Técnica de mano al cuerpo/Técnica de mano a la cara/Técnica de pie al cuerpo/Técnica de pie a la cara</td>
  </tr>
    <tr>        
        <td><img src="../../Images/FC/3puntos.jpg" style="width:100%""height: 33%"></td>
        <td><img src="../../Images/FC/2puntos.jpg" style="width:36%""height: 33%"></td> 
        <td><img src="../../Images/FC/1punto.jpg" style="width:50%""height: 33%"></td>
  </tr>
</table>          
        <h2>Pelea</h2>
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=CAV1wHAXDfE">
</iframe>     
        
        <h4>Cinturones</h4>
  <table style="width:100%">
  <tr>
      <td>Cinturón blanco</td>

      <td>Cinturón amarillo</td>

      <td>Cinturón naranja</td>

      <td>Cinturón verde</td>

      <td>Cinturón azul</td>

      <td>Cinturón marrón</td>

      <td>1º GRADO - Negro</td>

      <td>2º GRADO - Negro</td>

      <td>3º GRADO - Negro</td>

      <td>4º GRADO - Negro</td>

      <td>5º GRADO - Negro</td>

      <td>6º GRADO - Negro(Grado honorífico)</td>

      <td>7º GRADO - Negro(Grado honorífico)</td>

      <td>8º GRADO - Negro(Grado honorífico)</td> 

      <td>9º GRADO - Negro (Grado honorífico Master)</td>
 
  </tr>
</table>          
 <h4>Juramento</h4> 
          <table style="width:100%">
  <tr>
        <td>Observar las reglas del full contact</td>
        <td>Respetar a los profesores, superiores, semejantes e inferiores</td>
        <td>No dar mal uso al full contact</td>
        <td>Ser un campeón de la libertad y la justicia</td>
        <td>Construir un mundo más pacífico</td>      
              </tr>
        </table>
        
        
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>