<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Kung-Fu.css">
        <title>Judo</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                    <li><a href="cinturones.html">Cinturones</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Judo</h1>
    <h2>Valores</h2>
       <table style="width:100%">
  <tr>
    <th>Principio de Máxima Eficacia.</th>
    <th>Principio de Prosperidad Mutua</th> 
    <th>Principio de perfeccion como persona.</th>
  </tr>
  <tr>
        <td>Seiryoku Zenryu</td>
        <td>Jita Kyoei</td> 
        <td>Jiko No Kansei</td>
        
  </tr>
</table>          
        <h2>Tecnicas</h2>
       <table style="width:100%">
  <tr>
    <th>técnicas de proyección</th>
    <th>técnicas de inmovilización</th> 
    <th>técnicas de estrangulación</th>
    <th>técnicas de Luxacion</th>      
  </tr>
  <tr>
        <td>nage-waza</td>
        <td>osae-komi-waza</td> 
        <td>shime-waza</td>
        <td>kansetsu-waza</td>
        
  </tr>
</table>          
    
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=cjywi1r41qc">
</iframe>     
                  
       

        
               <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=aL9rBvVNkGQ">
</iframe>       
<H2>Cinturones</H2>
<img src="../../Images/judogrados.jpg">        
        
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>