<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Kung-Fu.css">
        <title>Kung-Fu</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Kung-Fu</h1>
    <h2>Valores</h2>
        <h4>Accion</h4>
<li>Humildad(Quan)</li>
<li>Virtud(Cheng)</li>
<li>Respeto(Li)</li>
<li>Moralidad(Yi)</li>
<li>Confianza(Xin)</li>
<h4>Mente</h4>  
 <li>Valor(Yong)</li>
<li>Paciencia(Ren)</li>      
<li>Resistencia(Heng)</li> 
 <li>Perseverancia(Yi)</li> 
<li>Voluntad(Zhi)</li>         
<li></li>         
<li></li>         
        <h2>Tecnicas</h2>
            <h4>Posturas</h4>
    
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=gdHdyAq1oDw">
</iframe>     
        
        <h4>Tecnicas de manos</h4>
  <table style="width:100%">
  <tr>
    <th>Palma</th>
    <th>enganchar</th> 
    <th>Puño</th>
       <th>agarre</th>
       <th>control</th>
  </tr>
  <tr>
    <td>掌 Zhǎng</td>
    <td>勾 Gōu</td> 
    <td>拳 Quán</td>
      <td>擒 qín</td>
      <td>拿 ná </td>
  </tr>
</table>          
       
    <h4>Patadas</h4>
  <table style="width:100%">
  <tr>
    <th>patada frontal</th> 
    <th>patada lateral</th>
    <th>Rodilla</th>
  </tr>
  <tr>
    <td>正踢腿 zhèng tī tuǐ</td>
    <td>侧踢腿 cè tī tuǐ</td> 
    <td>膝 xī </td>
  </tr>
</table><h4>Armas</h4>
  <table style="width:100%">
  <tr>
    <th>palo, bastón</th>
    <th>doble palo atado</th> 
    <th>sable</th>
    <th>espada</th>
    <th>Lanza</th> 
    </tr>
  <tr>
    <td>棍 gùn</td>
    <td>雙節棍 shuāng jié gùn (</td> 
    <td>雙節棍 shuāng jié gùn (</td>
    <th>剑 jiàn </th> 
    <th>枪 qiāng</th>
</tr>
</table>
               <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=T2T6LnENnYc">
</iframe>       

        
        
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>