<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Kung-Fu.css">
        <title>Lucha Libre</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../America/Norteamerica.html">Atras</a></li>
                    <li><a href="cinturones.html">Cinturones</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Lucha Libre</h1>
    <h2>Estilo</h2>
       <table style="width:100%">
  <tr>
    <th>Llaves</th>
    <th>Lucharesu</th> 
     </tr>
  <tr>
        <td>contempla el uso de complejas sumisiones para obligar al rival a rendirse y de intrincadas variantes de pinfall para realizar un conteo rápido al oponente antes de que pueda impedirlo, frecuentemente alternando entre ambas variantes. En este estilo en particular se confía más en la eficacia de la técnica de pinfall que en la contundencia de un movimiento previo, y es muy común encontrar largas secuencias de reversiones protagonizadas por dos luchadores intentando atrapar al otro contrarrestando sus llaves.</td>
        <td>Debido a que muchos luchadores japoneses han completado su entrenamiento en México, éstos han influenciado a algunos luchadores mexicanos y viceversa, creando una mezcla de lucha libre mexicana y puroresu llamada lucharesu. Mientras que la lucha libre mexicana acostumbra a ser técnica y meditada, el puroresu contempla un estilo más veloz, elástico y con rasgos de artes marciales, y una mezcla de ambos estilos ha sido adoptada por varios luchadores mexicanos y japoneses por igual.</td> 
  </tr>
</table>          
        <h2>Tecnicas</h2>
            <h4>Pelea</h4>
    
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=jg3NX_MAeiE">
</iframe>     
        
        <h4>Reglas</h4>
  <table style="width:100%">
  <tr>
    <th>Pinfall / Conteo</th>
    <th>Rendicion</th> 
    <th>Knockout</th>
       <th>Cuenta Fuera</th>
       <th>Descalificación</th>
  </tr>
  <tr>
    <td>Consiste en apoyar los hombros del oponente contra la lona durante tres toques del árbitro.</td>
    <td>Una victoria conseguida al hacer rendirse al rival, lo que es expresado verbalmente o, más comúnmente, por tap out.</td> 
    <td>Victoria por inconsciencia del rival. Esto no es muy común en la lucha libre mexicana.</td>
    <td>Un luchador pierde si permanece demasiado tiempo fuera del ring, determinado por una cuenta de 20 por parte del árbitro.</td>
    <td>Cuando un luchador es declarado perdedor por no respetar las normas.</td>
  </tr>
</table>          
       
    <h4>Mascaras</h4>
  <table style="width:100%">
  <tr>
    <th>Confeccionadas con esponja</th> 
    <th>Mascaras oficiales</th>
    <th>Mascaras semiprofesionales</th>
    <th>Mascaras profesionales</th>

  </tr>
  <tr>
    <td>Estas brindan al luchador una manera fácil y sencilla de mantener el anonimato con un costo accesible.</td>
    <td> Estas cuentan con el sello particular de cada luchador, es decir su diseño propio.</td> 
    <td>Estas se diferencian de las oficiales debido a que no se usan en el cuadrilítero, sino que son exclusivamente para exhibición.</td>
    <td>Estas son las que el luchador emplea en sus duelos debido a su diseño, ya que sus costuras son reforzadas en boca y ojos los cuales aumentan su resistencia y durabilidad.</td>
  </tr>
        <tr>
    <td><img src="../../Images/LL/mascara-lucha-libre-negra.jpg"></td>
    <td><img src="../../Images/LL/oficial.jpg"></td> 
    <td><img src="../../Images/LL/semiprofesional.jpg"></td>
    <td><img src="../../Images/LL/pro.jpg"></td>
  </tr>
</table>
        
        
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>