<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Kung-Fu.css">
        <title>Ninjutsu</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Ninjutsu</h1>
    <h2>Valores</h2>
       <table style="width:100%">
  <tr>
    <th>Taijutsu.</th>
    <th>Kenjutsu.</th> 
    <th>Bojutsu.</th>
    <th>Hanbojutsu.</th>
    <th>Shurikenjutsu.</th>
    <th>Bajutsu.</th>
    <th>Bo Ryaku.</th>
    <th>Cho Ho.</th>
    <th>Shinobi Iri.</th>
    <th>Inton Jutsu.</th>  
  </tr>
  <tr>
        <td>Manejo del cuerpo; movimientos, desplazamientos y combate desarmado.</td>
        <td>Esgrima de sable, incluyendo la ninjato o shinobigatana.</td> 
        <td>Técnicas de lucha con bastones de diversos tipos o tamaños.</td>
      <td>Arte de combatir con un báculo.</td>
      <td>Lanzamiento, manipulación y combate con elementos cortapunzantes.</td>
      <td>Equitación, lucha y técnicas a caballo.</td>
      <td>Estrategia de engaño intercambiando lo verdadero y lo falso.</td>
      <td>Espionaje.</td>
      <td>Ocultación y camuflaje (en todo tipo de climas y ambientes exteriores e interiores).</td>
      <td>Infiltración.</td>
           </tr>
</table>          
        <h2>Tecnicas</h2>         
         <table style="width:100%">
  <tr>
    <th>Golpeo dirigido al rompimiento de huesos y articulaciones.</th> 
    <th> Golpeos y presiones sobre ciertos puntos de la anatomía</th>
    <th>Lanzamientos y proyecciones del oponente</th>
    <th>Luxaciones</th>
    <th>Estrangulaciones y las maneras de llegar hasta ellas.</th>
    <th>Significa sacrificio; se trata de técnicas que logran derribar al oponente cediendo ante él</th>      

  </tr>
  <tr>
    <td>Koppo Jutsu</td>
    <td>Kyusho</td> 
    <td>Ju Tai Jutsu</td>
    <td>Gyaku Waza</td>
    <td>Shime Waza</td>
    <td>Sutemi Waza</td>
      
  </tr>
</table><h4>Armas</h4>
  <table style="width:100%">
  <tr>
    <th>bastón Largo</th>
    <th>bastón medio</th> 
    <th>Sable</th>
    <th>Cuchillo</th>  

    </tr>
  <tr>
    <td>Tanbo</td>
    <td>Hanbo</td>
    <td>Ken Jutsu</td>
    <td>shim gum</td>
    <td>Tanto</td>  
</tr>
</table>
               <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=ckZAesTG0zM">
</iframe>       
      
        
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>