<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Sumo.css">

        <title>Sumo</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                    <li><a href="cinturones.html">Cinturones</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Sumo</h1>
    <h2>Reglas</h2>
       <table style="width:100%">
  <tr>
    <th>El primer luchador en tocar el suelo con alguna parte de su cuerpo a excepción de la planta de sus pies queda eliminado.</th>
    <th>El primer luchador en hacer contacto con el exterior del círculo de lucha (ya sea con sus pies o cualquier otra parte de su cuerpo) queda eliminado.</th> 
    <th>Un luchador que utiliza una técnica ilegal o kinjite, como golpear en los ojos, estrangulaciones, tirar del pelo, puñetazos, luxaciones articulares u otras; queda eliminado.</th>
    <th>Si un luchador pierde el mawashi (única vestimenta utilizada durante un combate de sumo), queda eliminado.</th>

</tr>

</table>          
        <h2>Tecnicas</h2>
            <h4>Posturas</h4>
    
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=ElQY_ycAm5U">
</iframe>     
 <br>                 
         
               <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=lUvEZK24JW4">
</iframe>             
        
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>