<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Kung-Fu.css">
        <title>Taifu Shoi</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../America/Norteamerica.html">Atras</a></li>
                    <li><a href="cinturones.html">Cinturones</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Taifu Shoi</h1>
    <h2>Etimología</h2>
       El "tai" viene de la pronunciación de "Tae" en Tae Kwon Do, que en coreano significa "pie". El "fu" viene del término usado para las artes marciales chinas, "kung fu" aunque el término originalmente se refería a la habilidad de cualquier cosa, y en sí el "fu" de kung fu significa "hombre". El "shoi" viene del nombre del arte marcial japonés Shotokan, "shoto" significando "Olas de Pino", el apodo del creador del Shotokan, quien nunca le dio nombre al arte marcial. Así que, por accidente, el nombre "Taifu Shoi" actualmente significa "pie, hombre, olas de pino", aunque el tercer término posiblemente perdió el significado por la abreviación.
        <h2>Logo</h2>
        <table style="width:100%">
  <tr>
<th><iframe width="420" height="315"
src="../../Images/taifu%20shoi.jpg">
</iframe></th>
<th>El Escorpión en el centro= Aracnido peligroso y mortal si es molestado y/o si se ve en peligro,resistente al frío y al calor y se aclimata a todo tipo de condicion o situación-

-Fondo color Rojo= representa su presencia imponente-

-Color Blanco= La pureza de espíritu y la mente.-

-color negro= La experiencia adquirida-

-Circunferencia= El mundo y nustro paso por el mismo.-

-Hojas de olivo= La paz</th>
           
            </tr>
</table> 
        
        <h4>Vestimenta</h4>
  <table style="width:100%">
  <tr>
<th><iframe width="420" height="315"
src="../../Images/vestimtai.jpg"> 
</iframe></th>   
    <th>El uniforme de Taifu Shoi, también conocido como "Gi",consiste en una yukata blanca con el parcho de Tai fu Shoi cosido en el lado izquierdo, encima de donde quedaría el corazón, un pantalón blanco y la cinta representativa de su rango amarrada en la cintura.Existen cuatro tipos de "Gi" el super liviano, el liviano, el pesado y el super pesado, que generalmente es utilizado por usuarios más expertos.</th>
  </tr>
</table>          
       
    <h4>Cinturones</h4>
  <table style="width:100%">
  <tr>
    <th>Blanco</th> 
    <th>Amarillo</th>
    <th>Verde</th>
    <th>Roja</th>
    <th>Marron</th>
    <th>Negra</th>

  </tr>
        </table>  


        
        
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>