<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Kung-Fu.css">
        <title>Wing-Chun</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Wing-Chun</h1>
    <h2>Valores</h2>
       <table style="width:100%">
  <tr>
    <th>Disciplínate a las Reglas</th>
    <th>Practica cortesía y rectitud</th> 
    <th>Ama a tus compañeros</th>
        <th>Controle su deseo</th>
        <th> Trabaja duro y sigue practicando</th>
        <th>Aprende cómo mantener la energía</th>
        <th>Siempre enfréntate a las cuestiones mundiales con una actitud amable que sea tranquila y apacible.</th>
        <th> Ayuda a los débiles y a los muy jóvenes</th>
        <th> Transmitir la tradición</th>

  </tr>
  <tr>
        <td>Mantén Sagrada la Moralidad Marcial</td>
        <td>Sirve a la comunidad y honra a tu familia</td> 
        <td>Se unido y evita conflictos</td>
        <td>Manténgase saludable</td>
        <td>Nunca dejes que la habilidad abandone tu cuerpo</td>
        <td>Deja de incitar una actitud de lucha.</td>
        <td>-</td>
        <td>Usa tu habilidad marcial para el bien de la humanidad</td>
        <td>Preservar las artes chinas y sus Reglas de conducta</td>
  </tr>
</table>          
        <h2>Tecnicas</h2>
            <h4>Posturas</h4>
    
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=p1nU_Ugj_fU">
</iframe>     
        
        <h4>Tecnicas de manos</h4>
  <table style="width:100%">
  <tr>
    <th>Brazo Cultivador</th>
    <th>Dispersa Mano</th> 
    <th>Mano que agarra</th>
       <th>Mano que Palmea</th>
       <th>Brazo de Ala</th>
  </tr>
  <tr>
    <td>甘部 Gan sau</td>
    <td>所部 Tan sau</td> 
    <td>膝部 Lap sau</td>
    <td>樸部 Pak sau</td>
    <td>奉部 Bong sau </td>
  </tr>
</table>          
       
    <h4>Patadas</h4>
  <table style="width:100%">
  <tr>
    <th>patada frontal</th> 
    <th>patada defensiva</th>
    <th>Patada lateral de wing chun</th>
    <th>patada al Talon</th>
    <th>patada a la Rodilla</th>

  </tr>
  <tr>
    <td>月格Jan Gerk</td>
    <td>奉格 Bong Gerk</td> 
    <td>王格爾 Wang Gerk</td>
    <td>泰格 Tai Gerk</td>
    <td>富美格爾克 Fu Mei Gerk</td>
  </tr>
</table><h4>Armas</h4>
  <table style="width:100%">
  <tr>
    <th>bastón Largo</th>
    <th>Cuchillo Mariposa</th> 
    </tr>
  <tr>
    <td>長拐杖 Luk Dim Bun Gwan</td>
    <td>蝴蝶刀 Húdié dāo</td> 
</tr>
</table>
               <iframe width="420" height="315"
src=https://www.youtube.com/embed/watch?v=K1kpyOc2DnQ>
</iframe>       

        
        
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>