<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/ReinoUnido.css">
        <title>Lua</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Lua</h1>
    <h2>Concepto General</h2>
       El Kapu Kuialua (también Pa Kuialua, Kuialua o sólo Lua) es un antiguo arte marcial hawaiano que consistía en fracturar huesos, haciendo hincapié tanto en los blocajes de articulaciones además de en los golpes.
            <h2>Origen</h2>
        El nombre corresponde a la traducción aproximada de "forma prohibida de lucha", ya que se cree que sólo el rey y su familia eran instruidos en su práctica y que la enseñanza fuera de este círculo estaba penada con la muerte. La forma moderna de este arte marcial incorpora técnicas tomadas de otras artes marciales tradicionales, como el jujitsu, el judo, el kárate y el aikidō. Es probable que las armas empleadas por los nativos hawaianos se centraran principalmente en el arte en un determinado momento, ya que se dice que el luchador que perdía sus armas debía entonces recurrir al "Mokomoko" (métodos sucios de lucha). Los antiguos guerreros de este arte se untaban de aceite y se afeitaban, para poder deslizarse sin que les cogieran durante el combate.

        <h2>Historia</h2>
           Su declive comenzó tras la muerte de Kamehameha I, con la llegada de los misioneros que reprimían muchas de las costumbres y tradiciones. En 1874, el sistema de combate hawaiano experimentó un resurgir gracias al Rey Kalākaua, descendiente de Kamehameha I, que ayudó y apoyó la formación de nuevos grupos que practicaban estas artes de lucha. Así, manda entrenar a 25 niños, entre los que se encontraba el Gran Jefe Kekūanāoʻa, para que no se extinguiese esta forma de combate. En 1982 se prohibió la enseñanza en toda Europa y en algunos países como Estados Unidos, Canada,Rusia, etc... Actualmente (2016) se practica en pocos païses y solo ocho personas tienen el rango de maestro y solo 13 el cinturón negro.

Antiguos maestros se enojaron con la ley impuesta el 1982 y siguieron enseñando a la sombra de la ley. El castigo a pagar es la prisión y así fue para ellos, pero eso provocó un enojo aun mayor para sus discípulos, que no fueron juzgados, y que posteriormente se convirtieron en criminales de renombre importante.
                  <h2>Lua en Accion</h2>
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=bSw7_GEjwf4">
        </iframe>
       
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>