<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/ReinoUnido.css">
        <title>Lima Lama</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Lima Lama</h1>
    <h2>Concepto</h2>
      Lima Lama "La mano de la sabiduría", es un arte marcial de origen polinesio creado por el Gran Maestro Tu'umamao "Tino" Tuiolosega (1931-2011) a mediados de los años 1950.
El término Lima Lama fue acuñado por el G.M. Tino fusionando las palabras "Lima" que significa "Mano" o "cinco" y "malamalama" que significa "entendimiento", formando así "Lima Lama"          
        <h2>Tecnicas</h2>
        
      <li>Afikau:El estudio de las tradiciones guerreras, específicamente la danza.</li>
      <li>Amofoe:El entendimiento de la manipulación del peso, técnicas de balanceo y cambios para desbalancear el peso.</li>
      <li>Faaelise: El estudio de la coordinación, balance, reflejos, atrapes, rompimientos, y caídas.</li>
      <li>Faufusu o Ku iku lga:Movimientos similares a la pelea mano a mano, boxeo, o pelea callejera.</li>
      <li>Luaága o Le´ilga:El estudio de los puntos de presión, nervios y articulaciones.</li>
      <li>Milosia:El estudio de los atrapes, rompimientos y derribos.</li>
      <li>Pepelu ma Paga:El estudio de la pelea con cuchillos. Este es un método conceptual en el uso del armamento.</li>
      <li>Vaeka ma Kavae:El estudio de los movimientos como patadas y defensa con pies.</li>
      <li>Ti´apega ma Loú:El estudio de Kaoi' o pelea con bastón.</li>
      <li>Tal' Samoa:El estudio de la combinación de los demás conceptos.</li> 
      <li>Upaga ma Lo' ulo' uga:El estudio de los atrapes.</li>
        <li>Fa' ako' elau:Movimientos similares a la lucha libre, incluyendo llaves y zancadillas.</li>  

      
     
      
 

        <h2>Fundador</h2>
           <iframe width="250" height="250"
src="../../Images/lima.jpg">
</iframe>
<li>El gran maestro y Fundador Tu'umamao Tuiolosega fue miembro de la familia real samoana, hijo del rey de Olofu-Olosega. Estudió aikido, sil lum kung-fu, judo, boxeo, hung gar y otras artes marciales en su juventud y fue instruido en las artes marciales polinesias tradicionales por su padre y tío. Sirvió en el ejército de los Estados Unidos durante la década de 1950, participando en la batalla de Inchon y sirviendo como instructor de combate cuerpo a cuerpo.</li>     
        
        
<h2>Formas</h2>
        La forma es equivalente de la kata en el karate. Es una manifestación Artística y Técnica de un combate imaginario contra uno o varios individuos a la vez, demostrando en esta, características tan importantes como son:
<li>Fuerza - Cualquier cosa capaz de obrar, de producir un efecto y cualquier acción que modifica el estado de reposo o movimiento de un cuerpo.</li>                
<li>Técnica - Es el conjunto de procedimientos propios de un Arte, Ciencia u Oficio y la habilidad con que se utilizan esos procedimientos.</li>                
<li>Coordinación - Acción y efecto de coordinar, o sea, disponer cosas Metódicamente, reuniendo esfuerzos para un objeto en común.</li>                
<li>Equilibrio - Estado de reposo de un cuerpo sometido a dos fuerzas que se contrarrestan.</li>                
<li>Plástica - Aspecto de una persona o cosa desde el punto de vista de la estética</li>   
             <h2>Lima Lama en Accion</h2>
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=rjqrKZC05pU">
        </iframe>
       
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>