<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/China.css">
        <title>Artes Marciales de America</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>

    
    
    
   
    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Defendu</div>
      <div class="collapsible-body"><span>Es un arte marcial desarrollado para los miembros de la OSS, hoy la CIA, así como para los SOE (Special Operations Executive), entrenados en el "Campamento X" durante la Segunda Guerra Mundial. El objetivo al crear el Defendu era elaborar un sistema de pelea occidental que los soldados pudieran aprender en un lapso breve de tiempo y que los preparara para poder enfrentar a los japoneses en igualdad o superioridad de circunstancias; es decir, un sistema que superara a cualquier arte marcial de origen oriental. Se reconoce como fundador del Defendu al británico William Ewart Fairbairn. Fairbarn era un cinturón negro del Instituto Kodokan.</span></div> 
         
                                    
    </li>
          <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Lucha Libre Mexicana</div>
      <div class="collapsible-body"><span>versión de la lucha estilo libre o lucha olímpica que se practica en México y otros países de Latinoamérica, caracterizada por su estilo de llaveo a ras de lona y aéreo. Se evoca el término "mexicana" por las diferencias en la técnica luchística, acrobacias, reglas y folklore propio del país que le da una característica de autenticidad con respecto hacia la lucha de otros países.Para mas informacion de la Lucha Libre Mexicana pulsa <a href="../ArtesMarcialesDKdaPais/LuchaLibre.html"> aqui</a>.</span></div>
         
         
    </li>
        <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Taifu Shoi</div>
      <div class="collapsible-body"><span>es un estilo de karate-do desarrollado en Puerto Rico que combina el Tae Kwon Do coreano, el Kung Fu chino y el Shotokan japonés. Durante la década de los '70s, José A. Pabón (mejor conocido como Tony) creó el Tai Fu Shoi y usa como logo en los uniformes un círculo rojo con bordes negros, un escorpión blanco en el centro y unas hojas a los lados. La mayoría de los instructores y las organizaciones de los estilos libres que han sido exitosos son o han sido estudiantes de Tai Fu Shoi.Para mas informacion del Taifu Shoi pulsa <a href="../ArtesMarcialesDKdaPais/TaifuShoi.html"> aqui</a>.</span></div>
         
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Full-Contact</div>
      <div class="collapsible-body"><span>es un deporte de combate similar al boxeo y otras artes marciales, donde los participantes ―además de los golpes de puño― emplean patadas y barridos propios del karate, y del taekwondo. El objetivo es la puesta fuera de combate o nocaut (K.O., knock out) del oponente. Es similar al kick boxing, con la diferencia de que no se permite patear los muslos del oponente, de modo que todos los golpes y patadas solamente son permitidos arriba de la cintura, o bien a los tobillos como barrido.Para mas informacion del Full-Contact pulsa <a href="../ArtesMarcialesDKdaPais/Full-Contact.html"> aqui</a>.</span></div>
    </li>
       <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Progressive Fighting System</div>
      <div class="collapsible-body"><span>Progressive Fighting Systems es una organización y un sistema de combate ideado por Paul Vunak. Dentro de las técnicas incluidas en este sistema de combate están los mordiscos y los cabezazos, incluso en el suelo.El JKD no enseña técnicas superiores, sino desarrolla un combate eficaz y artibutos superiores. No hay técnicas superiores en las artes marciales, sino métodos de entrenamiento superiores. El objetivo es fluir de una técnica a otra y de un arte a otro, hasta que la escala o la situación no cambia, exigiendo otra técnica, o tal vez de una otra arte marcial. Una característica peculiar del PFS es también el empleo de protecciones pesadas por lo que los entrenamientos vienen definidos crash test con pruebas de agresiones a pleno contacto.
</span></div>
    </li>
  </ul>
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/China.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>