<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Greco.css">
        <title>Lucha Grecorromana</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Lucha Grecorromana</h1>
    <h2>Concepto General</h2>
       La lucha grecorromana es un deporte en el cual cada participante intenta derrotar a su rival con llaves y proyecciones utilizando solo la parte superior del cuerpo. El objetivo consiste en ganar el combate haciendo caer al adversario al suelo y manteniendo sus dos hombros fijos sobre el tapiz o ganando por puntuación mediante la valoración de las técnicas y acciones conseguidas sobre el adversario. Está prohibido el uso activo de las piernas en el ataque, así como atacar las piernas del rival.
       La lucha grecorromana junto a la lucha libre olímpica y a su variante femenina, la lucha femenina se les denomina luchas olímpicas ya que están presentes en los Juegos Olímpicos.
            <h2>Vestimenta</h2>
         <table style="width:100%">
        <tr>
      <td><img src="../../Images/FC/adi-malla-wrestler-pack-kid-bluered.jpg"></td>
      <td>Los deportistas visten un maillot de una sola pieza de color rojo o azul, y botas que rodeen los tobillos pero sin tacón ni objetos metálicos.</td>
      </tr>
        </table>

        <h2>Pelea</h2>
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=emma69ULXPs">
</iframe>     
        <h2>Tipos de Victoria</h2>         
Cada combate está dividido en 3 periodos independientes de 2 minutos cada uno, con un descanso entre ellos de 30 segundos.

A diferencia de la modalidad de Libre, en Lucha Grecorromana cada periodo se divide en 3 partes. Una primera parte de un minuto donde los luchadores comienzan de pie, y dos partes de 30 segundos cada una, donde cada luchador comienza en una posición ordenada en suelo. La posición ordenada de grecorromana, además de la posición general de castigo común a todas las modalidades, es la siguiente:

Cuando se acaba el primer minuto, el luchador que va ganando (según los criterios de victoria del combate) tiene derecho a agarrar primero. En caso de empate a cero hay sorteo de una moneda para ganar dicho derecho. Por lo tanto, el luchador que va perdiendo se pone a 4 puntos (2 manos y 2 rodillas en el suelo), y el luchador que agarra lo hace con agarre de cintura al revés (ver imagen). Cuando finalizan los 30 segundos, se cambian las posiciones y el luchador que no había agarrado, lo hace entonces. El luchador que agarra tiene la obligación de marcar algún punto, sino lo hace es penalizado con un punto él. Por lo tanto no existe prórroga.

Existen principalmente dos formas de ganar un combate:

Por tocado: cuando un luchador mantiene controlado con los dos omoplatos sobre el tapiz a su adversario, el tiempo suficiente para que el cuerpo arbitral lo constate. No importa el marcador.
Ganando dos de los tres periodos. Si un luchador gana los dos primeros periodos, el tercero no se disputa.
Existen varias formas de ganar un periodo:

Por superioridad técnica (3 casos): diferencia de 6 puntos, dos técnicas de 3 puntos, o una técnica de 5 puntos. Cuando se ganan los dos periodos por superioridad técnica, se considera que se ha ganado el combate entero por superioridad técnica.
Por puntos: cuando se termina el tiempo de un periodo. En este caso gana el primero que cumpla por este orden los siguientes requisitos: mayor número de puntos, menor número de amonestaciones, número de técnicas de mayor puntuación (si ha marcado alguna de 3 y en segundo lugar nº de técnicas de 2 puntos), último punto marcado.

<h2>Puntuacion</h2>
          <table style="width:100%">
        <tr>
      <td>1 Punto</td>
      <td>2 Puntos</td>
      <td>3 Puntos</td>
      <td>5 Puntos</td>
      </tr>
      <tr>
      <td><li>Derribos en que no ponen al rival de espaldas.</li>
          <li>En acciones de suelo controlar por detrás al luchador rival que no está de espaldas.</li>
              <li>Si el rival huye de una técnica o del tapiz, si tu rival sale de pie de la superficie de combate (pisa la zona de protección).</li>
                  <li>Por mantener 5 segundos en “posición de peligro” (de espaldas, sobrepasando los 90º) al rival.</li>
                      <li>Al luchador contrario, si un luchador no marca ningún punto en sus 30 segundos de agarre.</li>
                          <li>Si el rival realiza una acción ilegal que no impide realizar tu técnica y por lo tanto puntuar.</li>
                              <li>Al luchador contrario, si un luchador rehúye o no agarra correctamente en agarre ordenado en greco.</li></td>
       <td><li>Técnica de suelo que pone al rival en “posición de peligro” o de tocado inmediato</li>
            <li>Cuando el rival sale de la superficie de combate en “posición de peligro”</li>
           <li>Al luchador contrario, si un luchador rehúye o no se coloca a 4 puntos correctamente en agarre ordenado en greco</li>
           <li>Si el rival realiza una acción ilegal que impide realizar tu técnica</li>
           <li>Al luchador que bloquea y pone en “posición de peligro” al rival después de haber sufrido él una proyección.</li></td>
          <td><li>Técnica de pie que pone al rival en “posición de peligro”, incluso si lo ha levantado desde una posición de suelo.</li></td>
          <td><li>Técnica de pie de “gran amplitud” (que describe un gran arco en el espacio) que no pone al rival en “posición de peligro”, incluso si lo ha levantado desde una posición de suelo.</li></td>
      </tr>              
        </table>       
        
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>