<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/ReinoUnido.css">
        <title>Bartitsu</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Bartitsu</h1>
    <h2>Concepto General</h2>
       El bartitsu es un arte marcial mixto y sistema de defensa personal desarrollado originariamente en Inglaterra a finales del siglo XIX y principios del siglo XX. En 1901 fue inmortalizado (como "baritsu") por Arthur Conan Doyle, autor de Las aventuras de Sherlock Holmes. A pesar de haber permanecido en el olvido durante la mayor parte del siglo XX, el bartitsu ha experimentado un resurgimiento desde el año 2002.
            <h2>Filosofia</h2>
         En 1899, Barton-Wright definió los principios esenciales del bartitsu como:

<li>Perturbar el equilibrio del asaltante (un concepto equivalente al<a href="../ArtesMarcialesDKdaPais/Judo.html">judo</a> estudiado por Barton).</li>
<li>Sorprender al asaltante antes de que tenga tiempo de recuperar el equilibrio y utilizar su fuerza.</li>
<li>Si es necesario, someter las articulaciones de cualquier parte de su cuerpo -cuello, hombro, codo, muñeca, espalda, rodilla, tobillo y demás- a técnicas que son anatómicamente y mecánicamente imposible de resistir.</li>

        <h2>Pelea</h2>
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=CEu5_v1iv-k">
</iframe>     
       
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>