<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/China.css">
        <title>Artes Marciales de China</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>

    
    
    
   
    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Kung-Fu</div>
      <div class="collapsible-body"><span>Se datan los orígenes del kung-fu en el año 527 cuando, según cuenta la leyenda, un monje budista procedente de la India llamado Bodhidharma (Damo “Tamo” en chino) llegó al Monasterio de Shaolin. Es un arte marcial formativo con códigos de conducta y filosofía de vida. Sus principios filosóficos lo diferencian de otros sistemas o modalidades de lucha, o deportes de combate que no los poseen. Es de origen Chino. Tiene características de la cultura china historia, tradición y utiliza terminología china. Dentro de las artes marciales de extremo oriente se le considera como de las más antiguas.Está formado por una gran variedad de estilos, haciendo del kung-fu una disciplina de lucha "completa" al comprender todo tipo de técnicas. Para mas informacion del Kung fu pulsa <a href="../ArtesMarcialesDKdaPais/KungFu.html"> aqui</a>.
         
                                    </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Wing-Chun</div>
      <div class="collapsible-body"><span>El Wing-Chun esta orientado a la defensa personal creado por una monja superviviente del templo de Shaolin, llamada Ng Mui. Utiliza golpes de puño, golpes de mano abierta, no usa bloqueos sino que la defensa es siempre un tipo de ataque, desvíos, agarres, luxaciones y lanzamientos, además de armas tradicionales. El cual enfatiza el combate a media y corta distancia.Para mas informacion del Wing-Chun pulsa <a href="../ArtesMarcialesDKdaPais/WingChun.html"> aqui</a>.</span></div>
    </li>
       <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Bajiquan</div>
      <div class="collapsible-body"><span>Es un arte marcial chino que despliega golpes explosivos de rango corto como los codos, hombros etc. Es originario de la provincia de Hebei, en el área de Cangzhou. Tanto el estilo de combate como la filosofía del Baji Quan provienen de fuentes filosóficas del taoísmo, como los sacerdotes taoístas de Wudang, el clásico libro del I Ching, y otras fuentes que se remontan a la época de las dinastías Yuan y Ming1(Siglo XIII) Para mas informacion sobre el Bajiquan pulsa <a href="../ArtesMarcialesDKdaPais/Bajiquan.html">aqui</a>​</span></div>
    </li>
  </ul>
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/China.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>