<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Corea.css">
        <title>Artes Marciales de Corea</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                    <li><a href="cinturones.html">Cinturones</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>

    
    
    
   
    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Tae-Kwon-Do</div>
      <div class="collapsible-body"><span>el Taekwondo destaca por la variedad y espectacularidad de sus técnicas de patadas, y actualmente, es uno de los deportes de combate más conocidos, y el más popular del planeta. Para su creación, el General Choi se basó en el taekkyon coreano (de este derivan la forma de realización de varios de los golpes con el pie y el trabajo táctico o de pasos y desplazamientos), así como en el karate-Do japonés (de donde provienen los golpes con el puño y a mano abierta, la planimetría o división por zonas del cuerpo humano, los bloqueos, las posiciones y el sistema de grados por cinturones de colores).. Para mas informacion del Kung fu pulsa <a href="../ArtesMarcialesDKdaPais/Tae-Kwon-Do.html"> aqui</a>.
         
                                    </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Hapkido</div>
      <div class="collapsible-body"><span>es un arte marcial coreano enfocado hacia la defensa personal militar y civil.Esta disciplina se puede describir como un arte híbrido, físico y energético, donde la fuerza física, por sí misma no es un requisito primordial, y donde mayor importancia tiene el movimiento del propio cuerpo, la respiración, la flexibilidad, la sensibilidad, y la velocidad de acción al efectuar las diferentes técnicas, aunque su entrenamiento es muy vigoroso y exigente. Con el hapkido se busca la formación del individuo como persona dispuesta a la defensa de sí mismo, de su familia y de su país..Para mas informacion del Wing-Chun pulsa <a href="../ArtesMarcialesDKdaPais/Hapkido.html"> aqui</a>.</span></div>
    </li>
    <li>
  </ul>
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/corea.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>