<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Japon.css">
        <title>Artes Marciales de China</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>

    
    
    
   
    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">place</i>Sumo</div>
      <div class="collapsible-body"><span>Considerado por muchos como el deporte nacional de Japón, tiene su origen en un pasado lejano. Los primeros registros escritos de Japón, que datan desde el siglo 8 d.C. Es un tipo de lucha libre donde dos luchadores contrincantes o rikishi se enfrentan en un área circular. Es de origen japonés y mantiene gran parte de la tradición sintoísta antigua Para mas informacion del Sumo pulsa <a href="../ArtesMarcialesDKdaPais/Sumo.html"> aqui</a>.
         
                                    </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Ninjutsu</div>
      <div class="collapsible-body"><span> Se basa en grupos de técnicas y tácticas (consideradas clásicamente 20) que han utilizado supuestamente los ninja durante siglos. Los primeros datos que se tienen de la utilización de ninjas en el campo de batalla data del siglo V, lo que nos da una idea de la antigüedad de este estilo de lucha, que se complementaba con el aprendizaje de muchas habilidades útiles para el espionaje, como la caracterización o falsificación de documentos, así como ciertas prácticas esotéricas derivadas del Mykkyo, sistema espiritual japonés esotérico. Para mas informacion del Ninjutsu pulsa <a href="../ArtesMarcialesDKdaPais/Ninjutsu.html"> aqui</a>.</span></div>
    </li>
<li>
      
    </li><li>
      <div class="collapsible-header"><i class="material-icons">place</i>Judo</div>
      <div class="collapsible-body"><span>es un arte marcial moderno, basado en estrangulaciones, luxaciones en las articulaciones y projecciones, practicada como uno de los sistemas de combate más efectivo del mundo y también como deporte olímpico. Contiene sustancialmente el mismo énfasis en el personal, espiritual y físico de superación de sus practicantes como se puede encontrar a lo largo de gendai budo. Para mas informacion del Judo pulsa <a href="../ArtesMarcialesDKdaPais/Judo.html"> aqui</a>.</span></div>
    </li>
  </ul>
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/japon.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>