<html>
    <head>
        <meta charset="UTF-16"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../css/Muay-Thay.css">
        <title>Muay-Thai</title>

    </head> 
    <body>

        
             <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Martes Arciales</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="../MartesArciales.html">Inicio</a></li>
                    <li><a href="cinturones.html">Cinturones</a></li>
                </ul>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="collapsible.html">Grandes artistas marciales</a></li>
                    </ul>  
            </div>
        </nav>
<h1>Muay-Thai</h1>
    <h2>La Etica</h2>
<li>Hacerse a uno mismo útil a la sociedad.</li>
<li>Ser cortés y educado con todos cada vez que sea posible.</li>
<li>No ser violento en su palabra, pensamientos o acciones, construir el caracter.</li>
<li>Ser fiel a sí mismo y con los demás.</li>
<li>Mostrar perseverancia cuando sea posible.</li>
<li>        Estar dispuesto a sacrificarse por el bien de tu país, o comunidad si es necesario.</li>      
<li>Tener una fuerte disposición y determinación (“tan fuerte como el acero, tan duro como el diamante”).</li>
<li>        Llevar la moral en alto, no dar cabida a la tristeza.</li>        
 <li>Tener buen cuidado de su nombre y de su campo de entrenamiento.</li>        
<li>Entrenar y ejercitarse regularmente.</li>        
<li>No tomar ventaja de tu oponente infringiendo las reglas de competencia.</li>        
<li>Mostrar respeto a la naturaleza y a sus leyes.</li>        
       

   
        <h2>Tecnicas</h2>
            <h4>Guardia</h4>
    
           <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=bwF332rwWYo">
</iframe>     
        
        <h4>Puños</h4>
  <table style="width:100%">
  <tr>
    <th>Jab</th>
    <th>cross</th> 
    <th>Hook</th>
    <th>Swing</th>
    <th>Backfist</th> 
    <th>Uppercut</th>
    <th>Cobrapunch</th>
   
  </tr>
  <tr>
    <td>หมัดหน้า/หมัดแย็บ</td>
    <td>หมัดตรง</td> 
    <td>คนบ้า</td>
    <th>หมัดเหวี่ยงยาว</th> 
    <th>หมัดเหวี่ยงกลับ	</th>
    <th>หมัดเสย/หมัดสอยดาว</th>
    <th>กระโดดชก</th> 
    
  </tr>
</table>
            
<h4>Codos</h4>
  <table style="width:100%">
  <tr>
    <th>Codo descendente en diagonal</th>
    <th>Codo horizontal	</th> 
    <th>Codo ascendente/uppercut</th>
    <th>Codo en giro</th>
    <th>Codo horizontal de reversa</th> 
    <th>Codo doble cantante	</th>
    <th>Codo con paso hacia adelante</th>
       <th>Codo en salto</th>

  </tr>
  <tr>
    <td>ศอกตี (ศอกสับ)</td>
    <td>ศอกตัด</td> 
    <td>ศอกงัด</td>
    <th>ศอกกลับ</th> 
    <th>ศอกเหวี่ยงกลับ (ศอกกระทุ้ง)</th>
    <th>ศอกกลับคู่</th>
    <th>ศอกพุ่ง</th> 
    <th>กระโดดศอก</th> 

  </tr>
</table>
        <h4>Patadas</h4>
  <table style="width:100%">
  <tr>
    <th>Barrido</th>
    <th>patada al muslo	</th> 
    <th>patada circular	</th>
    <th>Patada de tibia y rodilla	</th>
    <th>Patada giratoria	</th> 
    <th>Patada circular con presión	</th>
    <th>Patada hacha o vertical descendente	</th>
       <th>patada en salto</th>
  <th>patada escalando/pisando el muslo</th>
  </tr>
  <tr>
    <td>เตะตรง	</td>
    <td>เตะตัด	</td> 
    <td>เตะเฉียง	</td>
    <tht>เตะครึ่งแข้งครึ่งเข่า	</tht> 
    <th>เตะกลับหลัง	</th>
    <th>เตะกด	</th>
    <th>เตะเข่า	</th> 
    <th>กระโดดเตะ	</th> 
      <th>เขยิบเตะ		</th> 
  </tr>
</table><h4>Rodillasos</h4>
  <table style="width:100%">
  <tr>
    <th>rodillazo recto	</th>
    <th> rodillazo  diagonal	</th> 
    <th>rodillazo redondo	</th>
    <th>rodillazo horizontal	</th>
    <th>rodillazo lateral	</th> 
    <th>rodillazo bomba	</th>
    <th>rodillazo volador	</th>
       <th>rodillazo escalando/pisando el muslo	</th>

  </tr>
  <tr>
    <td>เข่าตรง	</td>
    <td>เข่าเฉียง	</td> 
    <td>เข่าโค้ง	</td>
    <th>เข่าตัด		</th> 
    <th> เข่าตบ		</th>
    <th>เข่ายาว	 <th>
    <th>เข่าลอย	</th> 
    <th>เข่าเหยียบ	</th> 

  </tr>
</table>
               <iframe width="420" height="315"
src="https://www.youtube.com/embed/watch?v=7XigayhnwVM">
</iframe>     
            
  <h4>Defensa contra ataques</h4>
  <table style="width:100%">
  <tr>
    <th>Bloqueo - cubrir con una parte del cuerpo dura otra más sensible.
</th>
    <th>Redirección - paradas suaves para cambiar la dirección del golpe.
</th> 
    <th>Esquiva - mover una parte del cuerpo del trayectoria o alcance del golpe.
	</th>
    <th>Evasión - mover el cuerpo fuera de la trayectoria o alcance del golpe.
</th>
    <th>Interrupción - adelantarse al ataque golpeando al oponente cuando trata de cerrar la distancia.
</th> 
    <th>Anticipación - atrapar el golpe o atacar mientras se lanza.
</th>
   
  </tr>
</table>
        <h2>Cinturones</h2>
<img src="../../Images/muaythaigrading.jpg">
        
        
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    
    
    </body>
    
    
  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/tailandia.js"></script>
    <script>
        $(".dropdown-button").dropdown();
    </script> 
    
</html>